body, html {
    height: 100%;
    width: 100%;
    color: white;

}


#helloBox{
  margin: 0 auto 0 auto;
  padding: 10px 0 0 10px;
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,0.8);
  color: rgba(71,162,198,0.9);

}

#about{
  margin: 0 auto 0 auto;
  padding: 10px 0 0 20px;
  width: 100%;
  height: 440px;
  background-color: white;
  color: rgba(71,162,198,0.9);
}

#projects{
  margin: 0 auto 0 auto;
  padding: 10px 0 0 10px;
  width: 100%;
  height: 440px;
  background-color: rgba(0,0,0,0.8);
  color:rgba(71,162,198,0.9);
}

#skills{
  margin: 0 auto 0 auto;
  padding: 10px 0 0 10px;
  width: 100%;
  height: 440px;
  background-color: white;
  color: rgba(71,162,198,0.9);
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline;
  padding-right: 15px;
}

.name{
  font-size: 1.3em;
  padding-right: 30px;

}

.hello{
  font-size: 3.0em;

}



#bio{
  color: rgba(0,0,0,0.8);
  width: 500px;
  float: left;
}

#bioPic{
  float:right;
  margin: 0 40px 0 0;
}

#jgpic {
  margin:-20px 40px 0 0;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.text {
  font-size: 20px;
}

#gymsMe {
  flaot-left;
}

#gympic {
  margin: 0 10px 0 0;
  float:left;
  height: 220px;
  width: 300px;
}

#footer {
  height: 300px;
  width: 1000px;
  margin-left: 240px;
}

.div{
  width: 400px;
  height: 400px;
  background-color: red;
}
